/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved. */
/* SPDX-License-Identifier: MIT-0 */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  background: #F2F2F8;
  display: grid;
  place-items: center;
}

video {
  width: 90%;
  max-width: 1080px;
  position: relative;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.3);
  background: black;
}